.heading-title {
  width: fit-content;
  text-align: center;
  margin: 0 auto 25px;
  color: var(--c-title);
  position: relative;
  z-index: 1;

  h1 {
    width: fit-content;
    margin: 0 auto 5px;
    padding: 4px 12px;
    font-size: 32px;
    text-transform: uppercase;
    position: relative;
    @include prefixer(transition, var(--time-transition));

    &::after,
    &::before {
      content: "";
      background-color: var(--c-main);
      width: 80px;
      height: 2px;
      position: absolute;
      @include center-y;
      @include prefixer(transition, var(--time-transition) ease-in);
      z-index: -1;
    }

    &::before {
      left: -80px;
    }

    &:after {
      right: -80px;
    }
  }

  p {
    font-size: 18px;
  }

  &:hover {
    h1 {
      color: var(--c-white-main);

      &::after,
      &::before {
        @include same-scale(100%);
        @include prefixer(border-radius, 8px);
      }

      &::before {
        @include center;
      }

      &::after {
        right: 50%;
        @include prefixer(transform, translate(50%, -50%));
      }
    }
  }
}
