#footer {
  img {
    width: 250px;
  }

  .links {
    a {
      color: var(--c-black-main);
      @include prefixer(transition, var(--time-transition));

      &:hover {
        color: var(--c-main);
      }
    }
  }

  .contact {
    .pointer {
      cursor: pointer;
    }
  }
}
